@{
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Equação 2 grau</h1>
    <!--
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    <h4> Resolução das raizes de uma eq 2º grau</h4>
    
    <form>
        @*
                    Este Formulario só será visto por mim no rider
                    nao falta aplicar css obrigado!
        *@
        <div style="display: flex; flex-direction: column; gap: 1rem;">
            <p>Especifique por favor, os coeficientes da equação</p>
            <div style="display: flex; flex-direction: column; gap: 1rem; ">
                <span>A:<input type="text"/></span>
                <span>B:<input type="text"/></span>
                <span>C:<input type="text"/></span>
            </div>
            <input style="width: 10vw" type="submit" value="Calculates"/>
        </div>
    </form>
</div>